<div>
    <div *ngIf="currentSnippet.id" class="edit-form">
      <h4>Snippet</h4>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentSnippet.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="textSnippet">Text Snippet</label>
          <input
            type="text"
            class="form-control"
            id="textSnippet"
            [(ngModel)]="currentSnippet.textSnippet"
            name="textSnippet"
          />
        </div>
      </form>
      <button class="badge badge-danger mr-2" (click)="deleteSnippet()">
        Delete
      </button>
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateSnippet()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
    <div *ngIf="!currentSnippet.id">
      <br />
      <p>Cannot access this Snippet...</p>
    </div>
  </div>