<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search list by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="retrieveSnippets()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Snippets List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let snippet of snippets | paginate : {
            itemsPerPage: pageSize,
            currentPage: page,
            totalItems: count
          }; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveSnippet(snippet, i)"
        >
          {{ snippet.title }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentSnippet">
        <h4>Text Snippet <a class="badge badge-warning" routerLink="/snippets/{{ currentSnippet.id }}">
          Edit
          </a>
        </h4>

        <div class="input-group mb-3">
          <input
            type="text"
            #searchTerm
            class="form-control"
            placeholder="Search text"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="searchText(searchTerm.value)"
            >
              Search
            </button>
          </div>
        </div>
        
        <div [innerHtml]="currentSnippet.textSnippet | highlighter:currentSearchTerm:''"  >
        </div>
        
      </div>
      <div *ngIf="!currentSnippet">
        <br />
        <p>Please click on a Snippet...</p>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </div>
    <div class="col-md-8">
      Items per Page:
      <select (change)="handlePageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
  </div>