<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="snippet.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="textSnippet">Text Snippet</label>
          <textarea
            class="form-control"
            id="textSnippet"
            required
            [(ngModel)]="snippet.textSnippet"
            name="textSnippet"
          ></textarea>
        </div>
        <button (click)="saveSnippet()" class="btn btn-success">Submit</button>
      </div>
      <div *ngIf="submitted">
        <h4>Snippet was added successfully!</h4>
        <button class="btn btn-success" (click)="newSnippet()">Add</button>
      </div>
    </div>
  </div>